

body {
  background-color: #212121;
  font-family: "Gochi Hand";
  color: #cccccc;
}

.container {
  margin-top: 40px;
  text-align: center;
}

.rep{
  padding-top: 500px;
  text-align: center;
}

#but{
  

  background-color: pink; 
} 


h1.header {
  font-size: 5rem;
  

;


}


td {
  border:  6px solid #333;
  height:  100px;
  width:  100px;
  text-align:  center;
  vertical-align:  middle;
  font-family:  "Comic Sans MS", cursive, sans-serif;
  font-size:  70px;
  cursor: pointer;
}



table {
  border-collapse: collapse;
/* background-image: url("https://image.ibb.co/ibsXCa/chalkboard_blue.jpg"); */

  position:   absolute;
  left: 50%;
  margin-left: -155px;
  top: 20px;
  padding-top: 50px;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}
table tr td:last-child {
  border-right: 0;
}



.endgame {
  display: none;
  width:  200px;
   top: 100px;
  background-color: rgba(205, 133, 63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em; 
}

.selectSym{
  display: none;
  width: 220px;
  top: 80px;
  background-color: rgba(205, 133, 63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -110px;
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: yellow;
  font-size: 2em; 
}

.selectSym button{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:  50px;
  width: 70px;
}

.selectSym  button:first-of-type {
  margin-right: 10px;
}
.selectSym  button:last-of-type {
  margin-left: 10px;
}
 


.board {
  
  position: absolute;
  /* margin: 0 auto; */
  width: 360px;
  height: 360px;

  left: 50%;
  margin-left: -155px;
  top: 200px;



  background-color: #C3C2AB;
  border-radius: 6px;
  box-shadow: inset -1px -2px 4px 0.1px #89847e;
  background-image: url("https://image.ibb.co/ibsXCa/chalkboard_blue.jpg");
   -ms-transform: translateY(15px);
  /* IE 9 */
   -webkit-transform: translateY(15px);
  /* Safari */
  transform: translateY(15px); 
}